<div style="width: 90%; margin: 0 auto">
  <div class="d-flex justify-content-center row">
    <div class="col-md-auto">
      <h4>Lista de Empresas de Málaga</h4>
    </div>

  </div>
  <div class="col-md-auto" style="margin-bottom: 100px">
    <a routerLink="/empresa/create" class="btn btn-success float-md-end" style="margin-left: 2px; margin-top: 12px;">Crear
      Nueva Empresa</a>
  </div>
  <div class="mt-5">
    <div class="row">
      <div class="col border-bottom" style="width: max-content"><h5>Id</h5></div>
      <div class="col-sm-1 border-bottom"><h5>Nombre</h5></div>
      <div class="col-sm-1 border-bottom"><h5>Distrito</h5></div>
      <div class="col-sm-2 border-bottom"><h5>Web</h5></div>
      <div class="col-sm-2 border-bottom"><h5>Email</h5></div>
      <div class="col-sm-1 border-bottom"><h5>Teléfono</h5></div>
      <div class="col-sm-1 border-bottom"><h5>Dirección</h5></div>
      <div class="col border-bottom" style="width: max-content;"><h5>Latitud</h5></div>
      <div class="col border-bottom" style="width: max-content;"><h5>Longitud</h5></div>
      <div class="col-sm-1 border-bottom d-md-flex justify-content-md-center"><h5>Acción</h5></div>
    </div>
    <div *ngFor="let empresa of empresas" class="row top-5 align-items-center">
      <div class="col" style="width: max-content">{{ empresa.idEmpresa }}</div>
      <div class="col-sm-1">{{ empresa.nombre }}</div>
      <div class="col-sm-1">{{ empresa.distrito.nombre }}</div>
      <div class="col-sm-2">{{ empresa.web }}</div>
      <div class="col-sm-2">{{ empresa.email }}</div>
      <div class="col-sm-1">{{ empresa.telefono }}</div>
      <div class="col-md-2">{{ empresa.direccion }}</div>
      <div class="col" style="width: max-content" >{{ empresa.latitud }}</div>
      <div class="col" style="width: max-content">{{ empresa.longitud }}</div>


      <div class="col-sm-1 d-md-flex justify-content-md-center">
        <button type="button" [routerLink]="['/empresa/', 'edit', empresa.idEmpresa ]" class="btn btn-secondary"
                style="margin-left: 2px; margin-top: 2px;">Editar
        </button>
        <button type="button" (click)="deleteEmpresa(empresa.idEmpresa)" class="btn btn-danger"
                style="margin-left: 2px; margin-top: 2px;">Eliminar
        </button>
      </div>
    </div>
  </div>
</div>
